.table {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: scroll;
}

.theaders {
    display: flex;
    flex-flow: row nowrap;
}

.trows {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.trow {
    display: flex;
    flex-flow: row nowrap;
    height: 34px;
}

.trowHidden {
    width: 100%;
    display: none;
    height: 34px;
}

.cell {
    /*width: 200px;*/
    min-width: 135px;
    max-height: 40px;
    padding: 0px;
    border-bottom: 1px solid #dde1e3;
    border-left: 1px solid transparent;
    border-right: 1px solid #dde1e3;
    border-top: 1px solid transparent;
    overflow: hidden;
}

.colHead {
    border-top: 1px solid #dde1e3;
}

.cellContent:focus {
    /*background-color: "";*/
    overflow: scroll;
}

.cellContent {
    height: 32px;
    /*margin: 4px;*/
    padding-left: 2px;
    vertical-align: middle;
    line-height: 32px;
    overflow-x: scroll;
    overflow-y: hidden;
    /*flex-direction:column;*/
}

.cellLink {
    cursor: hand;
    cursor: pointer;
}

.cellContent::-webkit-scrollbar {
    display: none;
}

.cell:focus {
    z-index: 100;
    overflow: scroll;
}

.rnum {
    padding: 5px;
    width: 27px;
    text-align: center;
    border: 1px solid #dde1e3;
    border-top: none; 
    overflow: scroll;
}

.topCorner {
    width: 27px;
    height: 33px;
    border: 1px solid #dde1e3;
}
