.table {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: scroll;
}

.theaders {
    display: flex;
    flex-flow: row nowrap;
    background: #fff;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
}

.thead {
    min-width: 135px;
    width: 100%;
    background: #fff;
    border-right: 1px solid #dde1e3;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 0;
    height: 34px;
}

.trows {
    width: 100%;
    /*position: relative;*/
    /*margin-top: 35px;*/
    height: 100%;
    overflow: scroll;
}

.trow {
    display: flex;
    flex-flow: row nowrap;
    height: 34px;
}

.trowHidden {
    width: 100%;
    display: none;
    height: 34px;
}

.cell {
    /*width: 200px;*/
    min-width: 135px;
    max-height: 40px;
    padding: 0px;
    border-bottom: 1px solid #dde1e3;
    border-left: 1px solid transparent;
    border-right: 1px solid #dde1e3;
    border-top: 1px solid transparent;
    overflow: hidden;
}

.cellContent:focus {
    /*background-color: "";*/
    overflow: scroll;
}

.cellContent {
    height: 32px;
    /*margin: 4px;*/
    padding-left: 2px;
    vertical-align: middle;
    line-height: 32px;
    overflow-x: scroll;
    overflow-y: hidden;
    /*flex-direction:column;*/
}

.cellLink {
    cursor: hand;
    cursor: pointer;
}

.cellContent::-webkit-scrollbar {
    display: none;
}

.cell:focus {
    z-index: 100;
    overflow: scroll;
}

.cellCheckBox {
    position: absolute;
    margin-left: 50px;
    width: 100%;
    height: 25px;
    margin-top: -10px;
}

.checkbox {
    margin-top: -10px;
}

.checkboxCheck {
    margin-top: -11px !important;
}

.cellSelect {
    /*background: light-primary-color;*/
    background-color: rgba(100, 100, 100, .15);
    text-align: center;
    width: 90%;
    height: 95%;
    margin: 3% auto 2% auto;
}

.rnum {
    padding: 5px;
    width: 27px;
    text-align: center;
    border-bottom: 1px solid #dde1e3;
    overflow: scroll;
}

.topCorner {
    width: 27px;
    height: 33px;
}
